@import '~antd/dist/antd.css';

@bgcolor:#efefef;

body{
    font-size: 15px;
    color: rgb(18, 9, 18);
    font-family: '微软雅黑';
    background: @bgcolor;
}

.app{
    height: 100vh;
}

header{
    height: 60px;
    background: #fff;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    img{
        height: 50px;
    }
}
footer{
    height: 70px;
    background: rgb(4, 4, 23);
    text-align: center;
    line-height: 70px;
    color: rgb(255, 255, 255);
}
